<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.burningflower.pokemonquiz">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:launchMode="singleTop"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".view.StartActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.QuestionActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.FinishActivity"
            android:screenOrientation="portrait" />
        <!--<activity
            android:name=".view.StatsActivity"
            android:screenOrientation="portrait" /><![CDATA[
        />
        ]]>-->

        <service android:name=".services.TitleChangeService"
            android:permission="com.google.android.gms.permission.BIND_NETWORK_TASK_SERVICE"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.android.gms.gcm.ACTION_TASK_READY"/>
            </intent-filter>
        </service>
    </application>

</manifest>